
/* GENERALS */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Balsamiq Sans', cursive;
    }

    $primary_color : #e56768;
    $secondary_color : #e5d45d;

    .button-1 {
        background-color: $secondary_color;
        color: white;
        transition: 0.5s;
        &:hover {
            background-color: white;
            color: $primary_color;
        }
    }

    .button-2 {
        background-color: white;
        color: $primary_color;
        transition: 0.5s;
        &:hover {
            background-color: $secondary_color;
            color: white;
        }
    }

    .button-3 {
        background-color: $secondary_color;
        color: white;
        transition: 0.5s;
        &:hover {
            background-color: #d62f32;
            color: white;
        }
    }

    .button-4 {
        background-color: $primary_color;
        color: white;
        transition: 0.5s;
        &:hover {
            background-color: $secondary_color;
            color: white;
        }
    }