
/* GENERALS */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Balsamiq Sans', cursive;
    }

    .button-1 {
        background-color: #e5d45d;
        color: white;
        transition: 0.5s;
        &:hover {
            background-color: white;
            color: #e56768;
        }
    }

    .button-2 {
        background-color: white;
        color: #e56768;
        transition: 0.5s;
        &:hover {
            background-color: #e5d45d;
            color: white;
        }
    }

    .button-3 {
        background-color: #e5d45d;
        color: white;
        transition: 0.5s;
        &:hover {
            background-color: #d62f32;
            color: white;
        }
    }

    .button-4 {
        background-color: #e56768;
        color: white;
        transition: 0.5s;
        &:hover {
            background-color: #e5d45d;
            color: white;
        }
    }